<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Grouping" data-toc-modified-id="Grouping-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Grouping</a></span><ul class="toc-item"><li><span><a href="#agg-method" data-toc-modified-id="agg-method-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>agg method</a></span></li></ul></li><li><span><a href="#Multi-indexes" data-toc-modified-id="Multi-indexes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Multi-indexes</a></span></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Sorting</a></span><ul class="toc-item"><li><span><a href="#Normal-Sorting" data-toc-modified-id="Normal-Sorting-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Normal Sorting</a></span></li><li><span><a href="#Index-Sorting" data-toc-modified-id="Index-Sorting-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Index Sorting</a></span></li><li><span><a href="#Mutiple-Sorting" data-toc-modified-id="Mutiple-Sorting-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Mutiple Sorting</a></span></li></ul></li><li><span><a href="#Some-examples" data-toc-modified-id="Some-examples-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Some examples</a></span><ul class="toc-item"><li><span><a href="#review-count-based-on-twitter-handle" data-toc-modified-id="review-count-based-on-twitter-handle-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>review count based on twitter handle</a></span></li><li><span><a href="#Best-wine-we-can-have-per-price" data-toc-modified-id="Best-wine-we-can-have-per-price-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Best wine we can have per price</a></span></li><li><span><a href="#Min-and-Max-price-for-each-variety-of-wine" data-toc-modified-id="Min-and-Max-price-for-each-variety-of-wine-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Min and Max price for each variety of wine</a></span></li><li><span><a href="#What-is-the-most-expensive-wine-variety" data-toc-modified-id="What-is-the-most-expensive-wine-variety-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>What is the most expensive wine variety</a></span></li><li><span><a href="#What-combination-of-countries-and-varities-are-most-common?" data-toc-modified-id="What-combination-of-countries-and-varities-are-most-common?-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>What combination of countries and varities are most common?</a></span></li></ul></li></ul></div>

# Grouping

We have used `value_counts()` so far. But that can also be achieved bu using `groupby()`

In [1]:
import pandas as pd

data_path = 'data/winemag-data-130k-v2.csv'

data = pd.read_csv(data_path, index_col = 'Unnamed: 0')

In [3]:
data.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [4]:
data.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
data.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

We can also use `groupby()` and get other values like minimum price.

In [6]:
data.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit.

<b>Note:For even more fine-grained control, you can also group by more than one column.</b>

In [15]:
data.groupby(['country', 'province'])

As u can see, just grouping doesn't give us much advantage over the dataset. But it is very powerful when we use `apply()` or other functions with it.

Displaying the wines which has the highest points when grouped by `country` and then by `province`.

In [17]:
data.groupby(['country', 'province']).apply(lambda row: row.loc[row.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Armenia   Armenia           Deep salmon in color, this wine offers a bouqu...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   De Bortoli's Noble One is as good as ever in 2...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          Rusty in color but deep and complex in nature,...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                        designation  points  \
country   province
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Armenia   Armenia                                    Estate Bottled      88
Australia Australia Other                             Sarah's Blend      93
          New South Wales                        Noble One Bortytis      94
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      91
          Progreso                   Etxe Oneko Fortified Sweet Red      90
          San Jose                         El Preciado Gran Reserva      87
          Uruguay                         Blend 002 Limited Edition      91

                            price          province                 region_1  \
country   province
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Armenia   Armenia            15.0           Armenia                      NaN
Australia Australia Other    15.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         60.0        Montevideo                      NaN
          Progreso           46.0          Progreso                      NaN
          San Jose           50.0          San Jose                      NaN
          Uruguay            22.0           Uruguay                      NaN

                           region_2        taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province      NaN  Michael Schachner           @wineschach
          Other                 NaN  Michael Schachner           @wineschach
Armenia   Armenia               NaN      Mike DeSimone        @worldwineguys
Australia Australia Other       NaN                NaN                   NaN
          New South Wales       NaN     Joe Czerwinski                @JoeCz
...                             ...                ...                   ...
Uruguay   Juanico               NaN  Michael Schachner           @wineschach
          Montevideo            NaN  Michael Schachner           @wineschach
          Progreso              NaN  Michael Schachner           @wineschach
          San Jose              NaN  Michael Schachner           @wineschach
          Uruguay               NaN  Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia                 Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales   De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso          Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
Armenia   Armenia                            Rosé              Van Ardi
Australia Australia Other               Red Blend       Marquis Philips
          New South Wales                Sémillon            De Bortoli
...                                           ...                   ...
Uruguay   Juanico                       Red Blend        Familia Deicas
          Montevideo                    Red Blend                 Bouza
          Progreso                         Tannat                Pisano
          San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

## agg method

 agg() lets you run a bunch of different functions on your DataFrame simultaneously.

In [19]:
data.groupby(['country']).price.agg([len, min, max])

                            len   min     max
country
Argentina                3800.0   4.0   230.0
Armenia                     2.0  14.0    15.0
Australia                2329.0   5.0   850.0
Austria                  3345.0   7.0  1100.0
Bosnia and Herzegovina      2.0  12.0    13.0
Brazil                     52.0  10.0    60.0
Bulgaria                  141.0   8.0   100.0
Canada                    257.0  12.0   120.0
Chile                    4472.0   5.0   400.0
China                       1.0  18.0    18.0
Croatia                    73.0  12.0    65.0
Cyprus                     11.0  11.0    21.0
Czech Republic             12.0  15.0    45.0
Egypt                       1.0   NaN     NaN
England                    74.0  25.0    95.0
France                  22093.0   5.0  3300.0
Georgia                    86.0   9.0    40.0
Germany                  2165.0   5.0   775.0
Greece                    466.0   8.0    79.0
Hungary                   146.0  10.0   764.0
India                       9.0  10.0    20.0
Israel                    505.0   8.0   150.0
Italy                   19540.0   5.0   900.0
Lebanon                    35.0  13.0    75.0
Luxembourg                  6.0  16.0    30.0
Macedonia                  12.0  15.0    20.0
Mexico                     70.0   8.0   108.0
Moldova                    59.0   8.0    42.0
Morocco                    28.0  14.0    40.0
New Zealand              1419.0   7.0   130.0
Peru                       16.0  10.0    68.0
Portugal                 5691.0   5.0  1000.0
Romania                   120.0   4.0   320.0
Serbia                     12.0  15.0    42.0
Slovakia                    1.0  16.0    16.0
Slovenia                   87.0   7.0    90.0
South Africa             1401.0   5.0   330.0
Spain                    6645.0   4.0   770.0
Switzerland                 7.0  21.0   160.0
Turkey                     90.0  14.0   120.0
US                      54504.0   4.0  2013.0
Ukraine                    14.0   6.0    13.0
Uruguay                   109.0  10.0   130.0

# Multi-indexes

A multi-index differs from a regular index in that it has multiple levels.

In [21]:
grouped_data = data.groupby(['country', 'province']).description.agg([len])

In [22]:
grouped_data

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [24]:
type(grouped_data.index)

pandas.core.indexes.multi.MultiIndex

In [25]:
grouped_data.index

MultiIndex([('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            (  'Armenia',           'Armenia'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            (  'Austria',           'Austria'),
            ...
            (       'US',        'Washington'),
            (       'US', 'Washington-Oregon'),
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=425)

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices. They also require two levels of labels to retrieve a value.

In [26]:
grouped_data.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

We can use `reset_index()` to reset the multi-index back to the single index

# Sorting

## Normal Sorting

In [29]:
grouped_data.sort_values(by='len')

                                      len
country      province
Greece       Muscat of Kefallonian      1
             Sterea Ellada              1
             Thraki                     1
South Africa Paardeberg                 1
Brazil       Serra do Sudeste           1
...                                   ...
US           Oregon                  5373
Italy        Tuscany                 5897
France       Bordeaux                5941
US           Washington              8639
             California             36247

[425 rows x 1 columns]

In [30]:
grouped_data.sort_values(by='len', ascending=False)

                                len
country      province
US           California       36247
             Washington        8639
France       Bordeaux          5941
Italy        Tuscany           5897
US           Oregon            5373
...                             ...
Croatia      Krk                  1
New Zealand  Gladstone            1
South Africa Piekenierskloof      1
Chile        Coelemu              1
Greece       Beotia               1

[425 rows x 1 columns]

We can also sort based on the multi-index

## Index Sorting

In [31]:
grouped_data.sort_index()

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
Armenia   Armenia              2
Australia Australia Other    245
          New South Wales     85
...                          ...
Uruguay   Juanico             12
          Montevideo          11
          Progreso            11
          San Jose             3
          Uruguay             24

[425 rows x 1 columns]

## Mutiple Sorting

We can also sort by multiple values

In [33]:
grouped_data.sort_values(by=['country', 'len'])

                             len
country   province
Argentina Other              536
          Mendoza Province  3264
Armenia   Armenia              2
Australia Tasmania            42
          New South Wales     85
...                          ...
Uruguay   Montevideo          11
          Progreso            11
          Juanico             12
          Uruguay             24
          Canelones           43

[425 rows x 1 columns]

# Some examples

## review count based on twitter handle

create a series which shows the count of reviews made by a person indexed by the twitter handle

In [35]:
data.groupby('taster_twitter_handle').taster_twitter_handle.size()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [36]:
data.groupby('taster_twitter_handle').description.agg(len)

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: description, dtype: int64

In [37]:
data.groupby('taster_twitter_handle').size()

taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
dtype: int64

## Best wine we can have per price

A series containing points, indexed on prices and contains the maximum point wine we can buy for that price, sorted based on price.

In [48]:
data.groupby('price').points.max().sort_index()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

## Min and Max price for each variety of wine

In [52]:
data.groupby('variety').price.agg([min, max])

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

## What is the most expensive wine variety

Group the data based on variety and then sort descending the min price and then by max price to break ties

In [57]:
data.groupby('variety').price.agg([min, max]).sort_values(by=['min', 'max'], ascending=False)

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

## What combination of countries and varities are most common?

Create a series which is indexed on {country, variety} and sort the values in descending order based on wine count

In [72]:
countr_variety = data.groupby(['country', 'variety']).title.agg([len]).sort_values(by=['len'], ascending=False)
type(countr_variety)

pandas.core.frame.DataFrame

As you can see its not a series by a dataframe

In [74]:
countr_variety2 = data.groupby(['country','variety']).size().sort_values(ascending=False)
type(countr_variety2)

pandas.core.series.Series